.square {
  position: relative;
  width: 100%;

  &__content {
    display: flex;
    justify-content: space-between;
    flex-flow: column;

    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__link {
    position: absolute;
    width: 100%;
    border: none;

    &:hover {
      border: none;
    }

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }

  &__header {
    font-weight: 700;
    margin: 10px 20px;
    line-height: 1.15;
  }

  &__footer {
    background-color: #fff;
    padding: 20px;
  }

  &__text {
    margin: 0 0 10px;
  }

  &__tags {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    text-align: right;
  }

  &__tag {
    display: inline-block;
    padding-right: 8px;
  }

  &__tag:last-child {
    padding-right: 0;
  }
  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

@mixin square-transition {
  transition: all 0.2s ease-in;
}

// Анимации на десктопах
@media screen and (min-width: 1025px) {
  .square {
    z-index: 0;
    @include square-transition();

    &__content {
      @include square-transition();
    }

    &__footer {
      z-index: 1;
      opacity: 0;
      @include square-transition();
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      z-index: 10;

      .square__footer {
        opacity: 1;
        border-radius: 0 0 10px 10px;
      }
    }
  }

  .square_iphones:hover {
    background-image: url(/img/squares/iphones-2.jpg);
  }

  @media screen and (max-width: 1200px) {
    // Чтобы крайние квадраты отъезжали от краев экрана
    .square:nth-child(3n + 1):hover {
      transform: scale(1.05) translateX(2.4%);
    }

    .square:nth-child(3n + 3):hover {
      transform: scale(1.05) translateX(-2.4%);
    }
  }
}

@media screen and (min-width: 1201px) {
  // Чтобы крайние квадраты отъезжали от краев экрана
  .square:nth-child(4n-3):hover {
    transform: scale(1.05) translateX(2.4%);
  }

  .square:nth-child(4n):hover {
    transform: scale(1.05) translateX(-2.4%);
  }
}

// Картинки в квадратах
@mixin square-background-settings {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.square_salon-kartin {
  background-image: url(/img/squares/salon-kartin.jpg);
  @include square-background-settings();

  .square__header {
    color: white;
  }
}

.square_vesko {
  background-image: url(/img/squares/vesko.jpg);
  @include square-background-settings();

  .square__header {
    color: white;
  }
}

.square_strong-style {
  background-image: url(/img/squares/strong-style.jpg);
  @include square-background-settings();

  .square__header {
    color: white;
  }
}

.square_profkoptilnya-constructor {
  background-image: url(/img/squares/profkoptilnya-constructor.jpg);
  @include square-background-settings();
}

.square_stolpodnos-constructor {
  background-image: url(/img/squares/stolpodnos-constructor.jpg);
  @include square-background-settings();
}

.square_stolpodnos {
  background-image: url(/img/squares/stolpodnos.jpg);
  @include square-background-settings();
}

.square_elkichristmas {
  background-image: url(/img/squares/elkichristmas.jpg);
  @include square-background-settings();

  .square__header {
    color: white;
  }
}

.square_profkoptilnya {
  background-image: url(/img/squares/profkoptilnya.jpg);
  @include square-background-settings();

  .square__header {
    color: white;
  }
}

.square_profshampur {
  background-image: url(/img/squares/profshampur.jpg);
  @include square-background-settings();

  .square__header {
    color: white;
  }
}

.square_iphones {
  background-image: url(/img/squares/iphones.jpg);
  @include square-background-settings();
  background-size: 171%;
  background-position-y: 21%;
}

.square_strong-style-logo {
  background-image: url(/img/squares/strong-style-logo.jpg);
  @include square-background-settings();
}

.square_elkichristmas-logo {
  background-image: url(/img/squares/elkichristmas-logo.jpg);
  @include square-background-settings();
}

// Адаптивность
@media screen and (max-width: 1024px) {
  .square__footer {
    opacity: 1;
  }

  .square_iphones {
    background-image: url(/img/squares/iphones-2.jpg);
  }
}

@media screen and (max-width: 652px) {
  .square {
    &__header {
      margin: 5px 10px;
    }

    &__footer {
      padding: 10px;
    }
  }
}

@media screen and (max-width: 425px) {
  .square__footer {
    opacity: 1;
  }
}
