.squares {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1200px) {
  .squares {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .squares {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 425px) {
  .squares {
    grid-template-columns: 1fr;
  }
}
