.things-label {
  font-size: 32px;
  letter-spacing: 0.7px;
  margin: 15px 0 5px;
}

.things-textarea {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #85807E;
  color: #324343;
  padding: 15px;
  resize: vertical;

  -webkit-appearance: none;
  border-radius: 0;

  &::placeholder {
    color: #85807E;
  }
}

.things-input-text {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #85807E;
  color: #324343;
  padding: 15px;

  -webkit-appearance: none;
  border-radius: 0;
}

@media screen and (max-width: 652px) {
  .things-label {
    font-size: 24px;
    letter-spacing: 0.5px;
    margin: 8px 0 5px;
  }

  .things-textarea {
    font-size: 100%;
    padding: 10px;
  }

  .things-input-text {
    font-size: 100%;
    padding: 10px;
  }
}
