@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}

body {
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.4;
  color: #324343;
}

a {
  text-decoration: none;
  color: #42b4be;
  transition: color 0.33s ease-out;
}

a:hover {
  color: #b15959;
  transition: none;
}

h1 {
  font-size: 64px;
  line-height: 1.2;
  letter-spacing: 1.5px;
  margin: 20px;
}

.paragraph {
  max-width: 700px;
  margin: 0 20px;
}

.selected {
  color: #324343;
}

.selected:hover {
  color: inherit;
  cursor: default;
}

@media screen and (max-width: 652px) {
  h1 {
    margin: 20px 10px 10px;
    font-size: 28px;
    letter-spacing: 0.7px;
  }

  .paragraph {
    margin: 0 10px;
  }
}
